.auth-parent-container {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  border-radius: 10px;
  /* width: 900px; */
  background-color: #ffffff;
  padding: 20px 30px 60px 30px;
}

.editor-widths {
  width: 100%;
}

@media (max-width: 1532px) {
  /* .auth-parent-container {
    flex-direction: column;
  } */

  .auth-input-widths {
    width: 500px;
  }

  .auth-submit-btn {
    width: 500px;
  }
}

@media (max-width: 1144px) {
  .auth-parent-container {
    flex-direction: column;
  }
}

@media (max-width: 994px) {
  .auth-parent-container {
    flex-direction: column;
  }

  .auth-input-widths {
    width: 350px;
  }

  .auth-submit-btn {
    width: 350px;
  }
}
