.auth-parent-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-top: 10px;
  border-radius: 10px;
  width: 420px;
  background-color: #ffffff;
  padding: 0px 30px 40px 30px;
}

.editor-widths {
  width: 100%;
}
