/* .navbar-nav .nav-item:hover {
    background-color: rgba(180, 190, 203, 0.4);
  } */
.btn.btn-outline {
  background: 0 0;
}

.btn-outline.btn-primary {
  border-color: #2196f3;
  color: #2196f3;
  font-size: 13px;
}

.btn-outline.btn-primary:focus,
.btn-outline.btn-primary:hover {
  color: #ffffff;
  border-color: #2196f3;
  background-color: #2196f3;
}
